{% extends 'books/base.html' %}
{% load static %}

{% block content %}




<div class="password-change-div-main">


	<div class="password-change-div">
		<h2 style="color:#ff6600; text-align: center;">Hello {{request.user}}</h2>
		<h3 style="color:#009900; text-align: center;">You can change your password here</h3>
		<br>

		{% if messages %}
			{% for message in messages %}
				{% if message.level == 40 %}
					<h4 style="color: red">{{message}}</h4>
				{% endif %}
			{% endfor %}
		{% endif %}

		<form action="{% url 'users:update_pass' %}" method="post">
			{% csrf_token %}

			<h5>please enter your <span style="color:red;">{{form.old_password.label}}</span></h5>
			{{form.old_password.help_text}}
			{{form.old_password}}
		        {% for error in form.old_password.errors %}
		          <h5 style="color: red">{{ error }}</h5>
		        {% endfor %}
			<br>

			<h5>please enter your <span style="color:red;">{{form.new_password1.label}}</span></h5>
			<h5 style="color:blue;">{{form.new_password1.help_text}}</h5>
			{{form.new_password1}}
		        {% for error in form.new_password1.errors %}
		          <h5 style="color: red">{{ error }}</h5>
		        {% endfor %}
			<br>

			<h5><span style="color:red;">{{form.new_password2.label}}</span></h5>
			{{form.new_password2.help_text}}
			{{form.new_password2}}
		        {% for error in form.new_password2.errors %}
		          <h5 style="color: red">{{ error }}</h5>
		        {% endfor %}
			<br>


			<button class="btn btn-primary" type="submit">Update</button>
		</form>

	</div>
</div>

{% endblock %}