{% extends 'books/base.html' %}
{% load static %}


{% block content %}


	<div class="comment" style="width:1000px;">

		{% for comment in page %}
			<hr style="height: 40px; color: black;" id="comm-{{comment.id}}">
	
			<div class="main-div-flex-comment">

				<div class="comment-user-photo" >
					{% if comment.user != None %}
						<img src="{{comment.user.user_photo.user_img.url}}" width="100"  alt="My image" >
					{% else %}
						<img src="/media/default_user_img/user_img.png" width="100"  alt="My image" >
					{% endif %}
				</div>
				
				<div class="comment-div-grid">
					<div class="item-1">
						<div class="d-flex">
							{% if comment.user != None %}
								<div><h5 style="color: #00802b">{{comment.user}}</h5></div>&nbsp;&nbsp;
							{% else %}
								<div><h5 style="color: red">Anonymous user</h5></div>&nbsp;&nbsp;
							{% endif %}
							{% include "books/show_stars_on_comment.html" %}
						</div>
						<div class="comment-date"><h6 style="color: #b30047">{{comment.date_comment_posted}}</h6></div>
					</div>
					<div>
		              {% if comment.user == request.user and update_form.initial.comm_id == comment.id  %}
			              <form action="{{book.get_absolute_url}}#comm-{{comment.id}}" method="post" >
			                <div >
			                  {% csrf_token %}
			                  {{update_form }}
			                  <button type="submit" name="comm_id" value="{{ comment.id }}" class="btn btn-outline-secondary btn-sm">Comment</button>
			                </div>
			              </form>
		                <br>
		              {% else %}
		              <div class="comment-text-area-div">
		                <p class="comment-text-area-paragraf">
		                	{% if comment.comment|linebreaksbr|slice:":300"|length < 300  %}
		                		{{comment.comment|linebreaksbr}}
		                	{% else %}
		                		{{comment.comment|linebreaksbr|slice:":300" }}
			                	<span id="dots">...</span>
			                	<span class="more" id="more">{{comment.comment|linebreaksbr|slice:"300:"}}</span>
			                	<br>
			                	<button id="myBtn" class="btn btn-success btn-sm">Read more</button>
		                	{% endif %}

		                </p>
		              </div>
		              {% endif %}
		              <br>
					</div>

					<div class="item-3">

						{% if request.user.id == comment.user.id %}
						<div class="d-flex">
							<div >{% include "books/delete_comm.html" %} </div>&nbsp;&nbsp;
							<div>{% include "books/edit.html" %} </div>
						</div>

						{% else %}
						<div class="d-flex" >
							<div data-bs-toggle="tooltip" data-bs-placement="bottom" title="user not authenticated">
								<button type="button" class="btn btn-sm btn-outline-secondary" disabled>Delete</button>
							</div>&nbsp;&nbsp;
							<div  data-bs-toggle="tooltip" data-bs-placement="bottom" title="user not authenticated">
								<button type="button" class="btn btn-outline-secondary btn-sm" disabled>Edit</button>
							</div>
						</div>
						{% endif %}


						<div  class="comment_like_dislike">{% include "books/comment_like_dislike.html" %}</div>
						<div class="comment-likes-count"><h6>{{comment.comment_likes.count}} people like this</h6></div>
					</div>
					
				</div>

			</div>
		{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination">
  	{% if page.has_previous %}
    	<li class="page-item"><a class="page-link" href="{% url 'books:ab' page_num=page.previous_page_number slug=book.slug  %}">Previous</a></li>
    {% endif %}


    {% for i in comm %}
    	{% if  page.number == i.number %}
	    	<li class="page-item active"><a class="page-link"  aria-current="page" href="{% url 'books:ab' page_num=i.number slug=book.slug  %}">{{i.number}}
	    	</a></li>
	    {% else %}
	    	<li class="page-item"><a class="page-link" href="{% url 'books:ab' page_num=i.number slug=book.slug  %}">{{i.number}}
	    {% endif %}
    {% endfor %}

  	{% if page.has_next %}
    	<li class="page-item"><a class="page-link" href="{% url 'books:ab' page_num=page.next_page_number slug=book.slug  %}">next</a></li>
    {% endif %}
  </ul>
</nav>
	</div>




<script type="text/javascript">
	
const dots = document.getElementById("dots");
const moreText = document.getElementById("more");
const myBtn = document.querySelectorAll("#myBtn");

myBtn.forEach(function(butt){
  butt.addEventListener('click',function(e){
    const grabDots = e.currentTarget.previousElementSibling.previousElementSibling.previousElementSibling
    const grabSpan = e.currentTarget.previousElementSibling.previousElementSibling
    grabSpan.classList.toggle('more')
    e.currentTarget.innerHTML = 'read more'
    if(!grabSpan.classList.contains('more')){
    	grabDots.style.display = 'none'
    	e.currentTarget.innerHTML = 'read less'
    	console.log(grabDots)
    }
  })
})

</script>
{% endblock %}